---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <div class="langSelector">
    {% for lang in site.languages %}
      {% if lang == site.default-lang %}
        <a href="{{ site.url }}">{{ lang }}</a>
      {% else %}
        <a href="{{ site.url }}{{ lang }}">{{ lang }}</a>
      {% endif %}
    {% endfor %}
  </div>
  
  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>

